* {
  margin: 0;
  padding: 0;
  background-color: #000;
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  background: url(./img/world.png) no-repeat center/cover;
  background-size: 700px 680px;
}

#home-text {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
}