* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

body {
  background: #000;
}

#navbar {
  background-color: #000;
  z-index: -1;
}

#navbar a {
  margin-right: 10px;
  color: whitesmoke;
  text-decoration: none;
}

#navbar a:hover {
  opacity: 0.8;
}

#home {
  height: 100vh;
  width: 100vw;
  background: url(./img/world.png) no-repeat center center/cover;
  background-size: 700px 680px;
  background-color: #000;
  z-index: 5;
}

#home-text{
  color: whitesmoke;
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 145px;
  font-weight: bolder;
  text-shadow: 3px 3px lightgrey;
}

#home-text h1 {
  font-size: 5rem;
  font-weight: bolder;
  vertical-align: center;
}

.epic-list-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #000;

}

#epic {
  background-color: #000;
  width: 100%;
}

.epic-list-items {
  text-align: center;
  height: 400px;
  width: 400px;
  list-style: none;
  background-color: #000;
}

.epic-img {
  height: 300px;
  width: 300px;
}

.epic-item {
  display: flex;
  justify-content: center;
}

.epicText {
  width: 100%;
  display: block;
  background-color: #000;
  text-align: center;
}

#apod {
  background-color: #000;
  text-align: center;
}

/* Mars */
#mars-photos-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#mars-list {
  text-align: center;
}


.mars-item img {
  width: 350px;
  height: 350px;
}