* {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: whitesmoke;
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  background: url(./img/world.png) no-repeat center/cover;
  background-size: 700px 680px;
}

#home-text {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
}

.epic-list-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.epic-list-items {
  text-align: center;
  height: 400px;
  width: 400px;
  list-style: none;
}

.epic-img {
  height: 300px;
  width: 300px;
}

.epic-item {
  display: flex;
  justify-content: center;
}